/.venv
/ffmpeg.exe
__pycache__/
cogs/__pycache__/
notes/*.json
test_notif.json
bot/configure_bot/reactions.json
/surfbot-e0d83-firebase-adminsdk-dgaks-b191f56486.json
/testing-99c64-firebase-adminsdk-t7j1l-9fc9429ff6.json