:root {
    --dark: #040D12;
    --shade1: #183D3D;
    --shade2: #5C8374;
    --shade3: #93B1A6;
}

select {
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    width: 90%;
    padding: 16px 30px;
    margin: 5px 5%;
    background-color: var(--shade2);
    color: white
}

option {
    background-color: var(--shade3);
    color: black;
}

input[type="checkbox"] {
    accent-color: var(--shade2);
    background-color: var(--dark);
}

input[type="text"] {
    margin-bottom: 10px
}

#bannedwords li:not(:hover) {
    color: var(--dark);
    background-color: var(--dark);
}

#bannedwords li:not(:hover) button{
    color: var(--dark);
    background-color: var(--dark);
}

.box {
    border: 1px solid var(--shade3);
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: var(--shade1);
    margin-bottom: 1.5rem;
}

.box .box-title:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--dark);
    font-size: x-large;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

.box *:not(:first-child) {
    padding: 5px unset;
}

.box-row {
    display: flex;
    flex-direction: row;
    /* margin: 2px; */
}

.box-col {
    display: flex;
    flex-direction: column;
}

.set-l.box-col {
    align-items: flex-start;
}
.set-r.box-col {
    align-items: flex-end;
}
.set-c.box-col {
    align-items: center;
}

.set-l.box-row {
    justify-content: flex-start;
}
.set-r.box-row {
    justify-content: flex-end;
}
.set-c.box-row {
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.subhead {
    font-size: large;
    font-weight: bold;
}

.borderless {
    border: none;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.set-c.box-row .button {
    background-color: var(--shade2);
    color: black;
}

.set-c.box-row .button:hover {
    background-color: var(--shade3);
    color: black;
}