body {
    background-color: #25273b;
    color: #ffffff;
    font-family: "Lucida Console MS", "Lucida Console", "Arial MS", "Arial";
}

#content {
    font-family: "Arial MS", "Arial";
    /* fixed it */
}