/* Add a black background color to the top navigation */
#navbar {
    background-color: var(--primary-dark);
    overflow: hidden;
    display: flex;
    vertical-align: middle;
    height: 10%;
    align-items: stretch;
}

#navbar #user-details
{
    align-items: center;
    display: flex;
}

#navbar #logo
{
    align-items: center;
    display: flex;
    padding: 0px 10px;
}

#navbar #addbot {
    margin-left: auto;
}

#navbar .menuicon {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

#navbar h1 {
    display: flex;
    align-items: center;
    margin: 0px;
    padding-left: 20px;
    align-content: center;
}

/* Style the links inside the navigation bar */
#navbar .button {
    color: inherit;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px#25273b;
    font-family: sans-serif;
}

#navbar .text {
    color: inherit;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}

/* Change the color of links on hover */
#navbar .button:hover {
    background-color: var(--secondary);
}

/* Add a color to the active/current link */
#navbar .button:active {
    background-color: var(--primary-dark);
}

#pfp {
    width: 48px;
    aspect-ratio: 1 1;
}