<script>
    let serverid = '{{ serverid }}'
</script>
<script type="module" src="{{ getpath('console.js') }}"></script>
<div id="content">
    <input type="checkbox" id="music">
    <label for="music">Music Button</label>
    <input type="checkbox" id="moderation">
    <label for="moderation">Moderation Button</label>
    <input type="checkbox" id="level">
    <label for="level">Level Button</label>
    <input type="checkbox" id="reaction_roles">
    <label for="reaction_roles">Level Button</label>

    <button id="config-apply">Apply</button>

    <select name="audit-channel" id="audit-channel">
        <option value="-default">Select a channel for the audit logs</option>
    </select>

    <button id="audit-apply">Apply</button><br>

    Banned Words
    <ul id="bannedwords"></ul>
    <input type="text" id="banword-input">
    <label for="banword-input">Input a word to ban</label>
    <button id="banword-confirm">Enter word</button>

    <input type="text" id="react-msg">
    <input type="text" id="react-emoji">
    <select name="react-role" id="react-role">
        <option value="-default">Select a role for the reaction to give</option>
    </select>
    <select name="react-channel" id="react-channel">
        <option value="-default">Select a channel for the message to send in</option>
    </select>
    <button id="react-activate">Add Reaction Role</button>
</div>