<div id="content">
    <h1>About SurfBot</h1>
    SurfBot is a discord bot that can do alot of things. It can play music, track levels, auto moderation system,</br>
    audit logs, and reaction roles with many more things coming soon.</br>
    <h1>About Us</h1>
    We are just a small group of teenage kids who decided they wanted to make a disocrd bot.</br>
    We wanted to make the bot free to use since so many bots you have to pay to use it.</br>
    When we first started we thought it would be easy but boy were we wrong.</br>
    The music part of the bot was when we realized how hard it actually was going to be.</br>
    It took us about a month to just get the music function to work and it still gives us problems to this day.</br>
</div>