<script type="text/javascript" src="{{ getpath('base.js') }}"></script>
<script type="text/javascript" src="{{ getpath('guilds.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ getpath('css/serverlist.css') }}">
<div id="navbar">
    <img class="menuicon" src="{{ getpath('favicon.ico') }}"> 
    <h1>SurfBot</h1>
    <div class="text" id="info">You aren't logged in yet</div>
    <a id="login" style="display: none;" href={{ login }}>Login</a>
</div>
<div class="content">
    <h1 id="serverlisttop">Available Servers</h1>
</div>