<!DOCTYPE html>
<html>
    <head>
        <title>SurfBot</title>
        <link rel="shortcut icon" href="{{ getpath('favicon.ico') }}">
        <link type="text/css" rel="stylesheet" href="{{ getpath('css/index.css') }}">
    </head>
    <body>
        <script type="text/javascript" src="{{ getpath('base.js') }}" defer></script>
        <script type="text/javascript" src="{{ getpath('guilds.js') }}" defer></script>
        {% include 'navbar.html' %}
        <div id="content">
            <h1>Servery listy thingy</h1>
        </div>
    </body>
</html>